<div class="card">
    <div class="card-header">
      GESTION DE SECTORES
    </div>
    <div class="card-body">
        <form #ticketForm="ngForm">
              <div class="mb-3">
                <label for="iprecioTicket" class="form-label">Precio Ticket</label>
                <input name="precioTicket" type="number" class="form-control" id="iprecioTicket" required min="5"
                 [(ngModel)]="ticket.precioTicket"  #precioTicket="ngModel"  >
                 <div *ngIf="precioTicket.invalid && (precioTicket.dirty || precioTicket.touched)"
                 class="alert alert-danger">
                
                   <div *ngIf="precioTicket.errors?.['required']">
                 precioTicket es requerido.
                   </div>
                   <div *ngIf="precioTicket.errors?.['min']">
                 El precio debe ser mayor a 5.
                   </div>
                 </div> 
              
              
              
                </div>

              <div class="mb-3">
                <label for="idcategoriaEspectador" class="form-label">elija categoria</label>
                <select class="form-control" id="categoriaEspectador" required [(ngModel)]="ticket.categoriaEspectador" 
                 name="categoriaEspectador" #categoriaEspectador="ngModel">
                  <option value="l">Local</option>
                  <option value="e">Extranjero</option>
                </select>
                <div *ngIf="categoriaEspectador.invalid && (categoriaEspectador.dirty || categoriaEspectador.touched)"
                 class="alert alert-danger">
                
                   <div *ngIf="categoriaEspectador.errors?.['required']">
                 categoria es requerido.
                   </div>
                  
                 </div> 
              </div>

              <div class="mb-3">
                <label for="idfechaCompra" class="form-label">Fecha de compra en formato yyyy-mm-dd</label>
                <input name="fechaCompra" type="date" class="form-control" id="idfechaCompra" required minlength="10"
                [(ngModel)]="ticket.fechaCompra" #fechaCompra="ngModel"  >
                <div *ngIf="fechaCompra.invalid && (fechaCompra.dirty || fechaCompra.touched)"
                class="alert alert-danger">
               
                  <div *ngIf="fechaCompra.errors?.['required']">
                fecha es requerido.
                  </div>
                  <div *ngIf="fechaCompra.errors?.['minlength']">
                fechaCompra debe tener dia mes y año correctamente
                  </div>
                </div> 
             
             
             
              </div>
              
              <div class="mb-3">
                <label for="idespectador" class="form-label">Espectador</label>
                <select class="form-select" name="espectador"  required
                [(ngModel)]="ticket.espectador"  #espectador="ngModel" >
                  
                  <option *ngFor="let espectador of espectadores" [ngValue]="espectador" >{{espectador.apellido}},{{espectador.nombre}}</option>
                  
                </select>

                <div *ngIf="espectador.invalid && (espectador.dirty || espectador.touched)"
                 class="alert alert-danger">
                
                   <div *ngIf="espectador.errors?.['required']">espectador es requerido.
                   </div>
                  
                 </div> 

              </div>

              <button [disabled]="!ticketForm.form.valid" [disabled]="validar == true" type="button" class="btn btn-primary" (click)="guardarTicket()">Guardar</button>  
              <button [disabled]="validar == false" type="button" class="btn btn-primary"(click)="actualizarTicket(ticket)">Actualizar</button>              
                       

        </form>
    </div>
</div>
