<table  *ngFor="let t of transacciones" class="table">
    <thead>
      <tr>
        <th scope="col">monedaOrigen</th>
        <th scope="col">monedaDestino</th>
        <th scope="col">cantidadOrigen</th>
        <th scope="col">cantidadDestino</th>
        <th scope="col">emailCliente</th>
        <th scope="col">tasaConversion</th>   
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{t.monedaOrigen}} </td>
        <td>{{t.monedaDestino}}</td>
        <td>{{t.cantidadOrigen}}</td>
        <td>{{t.cantidadDestino}}</td>
        <td>{{t.emailCliente}}</td>
        <td>{{t.tasaConversion}}</td>
      </tr>
      
      
    </tbody>
  </table>
  
  <p>LISTAR TRANSACCIONES POR FILTRO</p>
  <div class="mb-3">
    <label for="monedaorigen" class="form-label">Moneda Origen</label>
    <input name="monedaorigen" type="text" class="form-control" id="imonedaorigen"
     [(ngModel)]="monedaorigen">
  </div>
  <div class="mb-3">
    <label for="monedadestino" class="form-label">Moneda Destino</label>
    <input name="monedadestino" type="text" class="form-control" id="imonedadestino"
     [(ngModel)]="monedadestino">
  </div>
 
  <button type="submit" class="btn btn-warning" (click)="cargarTransaccionesxfiltro()">Ver Transacciones x filtro de email</button> 
  <table  *ngFor="let t of transacciones2" class="table">
    <thead>
      <tr>
        <th scope="col">monedaOrigen</th>
        <th scope="col">monedaDestino</th>
        <th scope="col">cantidadOrigen</th>
        <th scope="col">cantidadDestino</th>
        <th scope="col">emailCliente</th>
        <th scope="col">tasaConversion</th>   
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{t.monedaOrigen}} </td>
        <td>{{t.monedaDestino}}</td>
        <td>{{t.cantidadOrigen}}</td>
        <td>{{t.cantidadDestino}}</td>
        <td>{{t.emailCliente}}</td>
        <td>{{t.tasaConversion}}</td>
      </tr>
      
      
    </tbody>
  </table>
