<div class="card">
    <div class="card-header">
      GESTION DE PRODUCTOS
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="idnombre" class="form-label">Nombre</label>
                <input name="nombre" type="text" class="form-control" id="idnombre"
                 [(ngModel)]="producto.nombre"    >
              </div>
              <div class="mb-3">
                <label for="iddescripcion" class="form-label">Descripcion</label>
                <input name="descripcion" type="text" class="form-control" id="iddescripcion"
                 [(ngModel)]="producto.descripcion"    >
              </div>
              <div class="mb-3">
                <label for="idimagen" class="form-label">Imagen</label>
                <input name="imagen" type="text" class="form-control" id="idimagen"
                 [(ngModel)]="producto.imagen"    >
              </div>
              <div class="mb-3">
                <label for="idprecio" class="form-label">Precio</label>
                <input name="precio" type="number" class="form-control" id="idprecio"
                [(ngModel)]="producto.precio"    >
              </div>
              <div class="mb-3">
                <label for="idstock" class="form-label">Stock</label>
                <input name="stock" type="number" class="form-control" id="idstock"
                [(ngModel)]="producto.stock"    >
              </div>
              <div class="mb-3">
                <label for="iddestacado" class="form-label">Destacado</label>
                <select name="destacado" class="form-control" id="iddestacado" [(ngModel)]="producto.destacado">
                  <option value="true">Destacado</option>
                  <option value="false">No Destacado</option>
                </select>
              </div>
              <button type="button" class="btn btn-primary" (click)="guardarProducto()">Guardar</button>              
                           

        </form>
    </div>
</div>
